<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASKWZ_T4daZ84UKsm3BK3p34hn-mA_oZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>137167792494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.godrive</string>
	<key>PROJECT_ID</key>
	<string>godrive-1d117</string>
	<key>STORAGE_BUCKET</key>
	<string>godrive-1d117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137167792494:ios:a16359566561d1440f397f</string>
</dict>
</plist>